@import "tailwindcss";

@layer components {
  .gradient-card {
    @apply bg-linear-to-br from-neutral-800 to-neutral-900 border border-neutral-700/50 hover:from-neutral-700 hover:to-neutral-800 transition-all duration-300;
  }
}

:root {
  --background: #1f1f1f;
  --text-color: #bdbdbd;
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}
